AUTH_SECRET=
#AUTH_URL=http://localhost:3000/api/auth

COGNITO_CLIENT_ID=
COGNITO_CLIENT_SECRET=
COGNITO_USERPOOL_ID=
COGNITO_ISSUER=


# aws credentials
LMD_AWS_ACCESS_KEY_ID=
LMD_AWS_SECRET_ACCESS_KEY=
LMD_AWS_REGION=
LMD_S3BUCKETNAME=
LMD_S3BUCKETLINK=

# integrations
LMD_API_BASE_URL=
LMD_API_BASE_URL_OLD=
NEXT_PUBLIC_LMD_AI_AGENT_BASE_URL=

# Airflow (pipeline management)
AIRFLOW_BASE_URL=https://a3f77b2c-303b-4f34-8b71-b01599a49267.c65.airflow.us-east-1.on.aws/api/v1
NEXT_PUBLIC_AIRFLOW_BASE_URL=https://a3f77b2c-303b-4f34-8b71-b01599a49267.c65.airflow.us-east-1.on.aws
AIRFLOW_USERNAME=
AIRFLOW_PASSWORD=
AIRFLOW_ENV_NAME=

# slack integration
SLACK_APP_ID=
SLACK_CLIENT_ID=
SLACK_CLIENT_SECRET=
SLACK_APP_TOKEN=
SLACK_BOT_TOKEN=
SLACK_SIGNING_SECRET=
SLACK_COMMENTS_CHANNEL_ID=
SLACK_TICKET_CHANNEL_ID=

# sentry
NEXT_PUBLIC_SENTRY_DSN=
SENTRY_ORG=
SENTRY_PROJECT=
